modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39800353

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
