modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39800353

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m streamlit run main.py --server.address 0.0.0.0 --server.port 3000"
